body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}




/*Timeblocks*/
.timeblock {
height: 90px;
width: 80%;
margin-bottom: 5px;
}

.activitys {
  white-space: normal;
  word-wrap: break-word;
  padding: 20px;
  line-height: 1.5;
  overflow-y:hidden;
}

.time{
  padding-top: 28px;
  height: auto;
  background-color: white;
  border-top: solid #d3d3d3 1px;
}

.save {
  background-color: #06AED5;
  color: white;
  padding-top: 28px;
  margin-top: 5px;
  height: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.save:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/*Time change*/
.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}




/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 991px) {

  .timeblock {
    height: 110px;
    }

  .save {
  height: 100px;
  padding-top: 38px;
  }
}

@media screen and (max-width: 767px) {

  .timeblock {
    margin-bottom: 100px;
  }

  .time {
    border: none;
    padding-top: 20px;
  }

  .activitys {
    border: none;
    border-top: solid black 1px;
    height: 130px;
  }

  .save {
    margin-top: 0px;
    flex-basis: 98%;
    margin-left: 6px;
    margin-right: 6px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    height: 40px;
    padding-top: 11px;

  }


}

@media screen and (max-width: 742px) {

  .heading1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 347px) {

  .timeblock {
    margin-bottom: 120px;
  }

  .activitys {
    border: none;
    border-top: solid black 1px;
    height: 150px;
  }
}